
source ~/.config/neomutt/settings
source ~/.config/neomutt/colors
source ~/.config/neomutt/mappings

# Accounts

source ~/.config/neomutt/accounts/gmail
folder-hook  'source ~/.config/neomutt/accounts/gmail'

#source ~/.config/neomutt/accounts/school
#folder-hook  'source ~/.config/neomutt/accounts/school'

#source ~/.config/neomutt/accounts/main
#folder-hook  'source ~/.config/neomutt/accounts/main'
