Source: nethack
Section: games
Priority: optional
Maintainer: Patric Mueller <bhaak@gmx.net>
Build-Depends:
 autotools-dev,
 bison,
 debhelper (>= 8.0.0),
 flex,
 libncurses5-dev | libncurses-dev
Standards-Version: 3.8.4
Homepage: https://nethack.wordpress.com/
Vcs-Git: https://github.com/NetHack/NetHack.git
Vcs-Browser: https://github.com/nethack/nethack

Package: nethack
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A variant of the roguelike game NetHack.
 It features more randomness, more levels, more challenges and more fun than
 vanilla NetHack.
