#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- \
	 --bindir=/usr/games \
	 --with-gamesdir=/var/games/nethack \
	 --with-unsharedir=/usr/lib/nethack \
	 --enable-curses-graphics \
	 --enable-tty-graphics

override_dh_fixperms:
	dh_fixperms
	for filename in perm record logfile xlogfile bones level saves; do \
		chmod g+w debian/nethack/var/games/nethack/$$filename; \
	done
	chmod g+w debian/nethack/var/games/nethack
	chgrp -R games debian/nethack/var/games/nethack debian/nethack/usr/lib/nethack
	chmod 02755 debian/nethack/usr/lib/nethack/nethack
