README.html

.*/

GTAGS
GRTAGS
TAGS
aclocal.m4
autom4te.cache/
compile
configure
depcomp
**/.dirstamp
#install-sh
libtool
ltmain.sh
missing
#**.m4
**/.deps/
stamp-h1
archive
dist
pkg/dist/arch
pkg/dist/fedora
pkg/dist/mac
pkg/dist/rpi
asciiville

conf/cool-retro-term
pics
releases
tmp
.obsidian

# vim files
.*.sw[a-z]
*.un~
Session.vim
.netrwhist

#do not ignore .github directory
!.github
