[Desktop Entry]
Version=1.0
Name=Asciiville Terminal
Name[ar]=طرفية إكسفس
Name[ast]=Terminal Asciiville
Name[be]=Тэрмінал Asciiville
Name[bg]=Asciiville Терминал
Name[ca]=Terminal de Asciiville
Name[cs]=Terminál Asciiville
Name[da]=Asciiville Terminal
Name[de]=Asciiville-Terminal
Name[el]=Τερματικό Asciiville
Name[en_AU]=Asciiville Terminal
Name[en_GB]=Asciiville Terminal
Name[eo]=Asciiville-terminalo
Name[es]=Terminal de Asciiville
Name[eu]=Asciiville  terminala
Name[fi]=Asciiville-pääte
Name[fr]=Terminal Asciiville
Name[gl]=Terminal Asciiville
Name[he]=Asciiville Terminal
Name[hr]=Asciiville terminal
Name[hu]=Asciiville terminál
Name[hy_AM]=Asciiville վահանակ
Name[id]=Terminal Asciiville
Name[ie]=Terminal de Asciiville
Name[is]=Asciiville skjáhermir
Name[it]=Terminale di Asciiville
Name[ja]=Asciiville Terminal
Name[kk]=Asciiville Terminal
Name[ko]=Asciiville 터미널
Name[lt]=Asciiville terminalas
Name[ms]=Terminal Asciiville
Name[nb]=Asciiville-terminal
Name[nl]=Asciiville-terminalvenster
Name[oc]=Terminal Asciiville
Name[pl]=Terminal Asciiville
Name[pt]=Terminal Asciiville
Name[pt_BR]=Asciiville Terminal
Name[ro]=Terminal Asciiville
Name[ru]=Терминал Asciiville
Name[sk]=Terminál Asciiville
Name[sl]=Asciiville terminal
Name[sq]=Terminal Asciiville
Name[sr]=Терминал ИксФЦЕ-а
Name[sv]=Asciiville terminal
Name[th]=เทอร์มินัลของ Asciiville
Name[tr]=Asciiville Uçbirim
Name[ug]=Asciiville تېرمىنالى
Name[uk]=Термінал Asciiville
Name[zh_CN]=Asciiville 终端
Name[zh_TW]=Asciiville 終端機
Comment=Asciiville Terminal
Comment[ar]=محاكي طرفية
Comment[ast]=Emulador de terminal
Comment[be]=Эмулятар тэрмінала
Comment[bg]=Терминален Емулатор
Comment[ca]=Emulador de terminal
Comment[cs]=Emulátor terminálu
Comment[da]=Terminalemulator
Comment[de]=Terminal-Programm
Comment[el]=Ρυθμίσεις Τερματικού Asciiville
Comment[en_AU]=Terminal Emulator
Comment[en_GB]=Terminal Emulator
Comment[eo]=Terminala Simulilo
Comment[es]=Emulador de terminal
Comment[et]=Terminaliemulaator
Comment[eu]=Terminal emuladorea
Comment[fi]=Pääte-emulaattori
Comment[fr]=Émulateur de terminal
Comment[gl]=Emulador de terminal
Comment[he]=מדמה מסוף
Comment[hr]=Emulator terminala
Comment[hu]=Terminálemulátor
Comment[hy_AM]=Վերիրային վահանակ
Comment[id]=Emulator Terminal
Comment[ie]=Emulator de Terminal
Comment[is]=Skjáhermir
Comment[it]=Emulatore di Terminale
Comment[ja]=ターミナルエミュレーター
Comment[kk]=Терминал эмуляторы
Comment[ko]=터미널 에뮬레이터
Comment[lt]=Terminalo emuliatorius
Comment[lv]=Termināļa emulators
Comment[ms]=Emulator Terminal
Comment[nb]=Teminalemulator
Comment[nl]=Terminalvenster
Comment[oc]=Emulator de terminal
Comment[pa]=ਟਰਮੀਨਲ ਈਮੂਲੇਟਰ
Comment[pl]=Emuluje działanie terminala X
Comment[pt]=Emulador de terminal
Comment[pt_BR]=Emulador de terminal
Comment[ro]=Emulator de terminal
Comment[ru]=Эмулятор терминала
Comment[si]=අග්‍ර අනුකාරක
Comment[sk]=Terminál Emulátor
Comment[sl]=Posnemovalnik terminala
Comment[sq]=Emulues Terminali
Comment[sr]=Опонашач терминала
Comment[sv]=Terminalemulator
Comment[te]=టెర్మినల్ ఎమ్యులేటర్
Comment[th]=โปรแกรมจำลองเทอร์มินัล
Comment[tr]=Uçbirim Öykünücüsü
Comment[ug]=تېرمىنال Emulator
Comment[uk]=Емулятор терміналу
Comment[ur]=ٹرمنل ایمولیٹر
Comment[ur_PK]=ٹرمنل ایمولیٹر
Comment[vi]=Trình giả lập Terminal
Comment[zh_CN]=终端模拟器
Comment[zh_TW]=終端機程式
GenericName=Asciiville Terminal
GenericName[ar]=محاكي طرفية
GenericName[ast]=Emulador de terminal
GenericName[be]=Эмулятар тэрмінала
GenericName[bg]=Терминален Емулатор
GenericName[ca]=Emulador de terminal
GenericName[cs]=Emulátor terminálu
GenericName[da]=Terminalemulator
GenericName[de]=Terminal-Programm
GenericName[el]=Ρυθμίσεις Τερματικού Asciiville
GenericName[en_AU]=Terminal Emulator
GenericName[en_GB]=Terminal Emulator
GenericName[eo]=Terminala Simulilo
GenericName[es]=Emulador de terminal
GenericName[et]=Terminaliemulaator
GenericName[eu]=Terminal emuladorea
GenericName[fi]=Pääte-emulaattori
GenericName[fr]=Émulateur de terminal
GenericName[gl]=Emulador de terminal
GenericName[he]=מדמה מסוף
GenericName[hr]=Emulator terminala
GenericName[hu]=Terminálemulátor
GenericName[hy_AM]=Վերիրային վահանակ
GenericName[id]=Emulator Terminal
GenericName[ie]=Emulator de Terminal
GenericName[is]=Skjáhermir
GenericName[it]=Emulatore di Terminale
GenericName[ja]=ターミナルエミュレーター
GenericName[kk]=Терминал эмуляторы
GenericName[ko]=터미널 에뮬레이터
GenericName[lt]=Terminalo emuliatorius
GenericName[lv]=Termināļa emulators
GenericName[ms]=Emulator Terminal
GenericName[nb]=Teminalemulator
GenericName[nl]=Terminalvenster
GenericName[oc]=Emulator de terminal
GenericName[pa]=ਟਰਮੀਨਲ ਈਮੂਲੇਟਰ
GenericName[pl]=Emuluje działanie terminala X
GenericName[pt]=Emulador de terminal
GenericName[pt_BR]=Emulador de terminal
GenericName[ro]=Emulator de terminal
GenericName[ru]=Эмулятор терминала
GenericName[si]=අග්‍ර අනුකාරක
GenericName[sk]=Terminál Emulátor
GenericName[sl]=Posnemovalnik terminala
GenericName[sq]=Emulues Terminali
GenericName[sr]=Опонашач терминала
GenericName[sv]=Terminalemulator
GenericName[te]=టెర్మినల్ ఎమ్యులేటర్
GenericName[th]=โปรแกรมจำลองเทอร์มินัล
GenericName[tr]=Uçbirim Öykünücüsü
GenericName[ug]=تېرمىنال Emulator
GenericName[uk]=Емулятор терміналу
GenericName[ur]=ٹرمنل ایمولیٹر
GenericName[ur_PK]=ٹرمنل ایمولیٹر
GenericName[vi]=Trình giả lập Terminal
GenericName[zh_CN]=终端模拟器
GenericName[zh_TW]=終端機程式
Exec=kitty --title="Asciiville" --start-as normal --override font_size=18 --override draw_minimal_borders=yes --override initial_window_width=90c --override initial_window_height=28c --override tab_bar_min_tabs=2 --override startup_session=none asciiville -i -k
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=GTK;System;TerminalEmulator;
StartupNotify=true
