[Desktop Entry]
Type=Application
Name=tetris
GenericName=Text-mode Tetris
Exec=tetris -w 80
Icon=tetris
Categories=Game;BlocksGame;
Terminal=true
Comment=Terminal-based Tetris game
Keywords=game;tetris;terminal;blocks
