pkgbase = asciiville
	pkgdesc = Character based MPD client, spectrum visualizer, Beets library management, plus more
	pkgver = v1.4.1r2
	pkgrel = 1
	url = https://github.com/doctorfree/Asciiville
	install = asciiville.install
	arch = x86_64
	arch = armv7h
	license = MIT
	makedepends = boost
	makedepends = pandoc
	makedepends = qt5-tools
	makedepends = zip
	depends = util-linux
	depends = boost-libs
	depends = libcurl-compat
	depends = libmpdclient
	depends = ncurses
	depends = readline
	depends = taglib
	depends = mpd
	depends = ffmpeg4.4
	depends = inotify-tools
	depends = figlet
	depends = gnome-terminal
	depends = tmux
	depends = fzf
	depends = mpc
	depends = python
	depends = python-pip
	depends = python-numpy
	depends = python-six
	depends = mplayer
	depends = dconf
	depends = eigen
	depends = fftw
	depends = clang
	depends = libsamplerate
	depends = chromaprint
	depends = iniparser
	depends = libyaml
	depends = swig
	depends = alsa-lib
	depends = libpulse
	depends = sqlite
	depends = qt5-base
	optdepends = asciinema: record and share terminal sessions
	optdepends = cool-retro-term: cool retro terminal emulator
	optdepends = tilix: tiling terminal emulator
	options = strip
	options = docs
	options = !libtool
	options = !staticlibs
	options = emptydirs
	options = zipman
	options = purge
	options = !debug
	options = !lto
	source = git+https://github.com/doctorfree/Asciiville.git
	sha256sums = SKIP

pkgname = asciiville
